.LabeledLinks {
	/*background: rgba(111,180,177,0.2);*/
	border: 2px dotted rgba(111,180,177,0.7);
	padding: 10px 10px 8px 8px;
	max-width: 540px;
	position: relative;
	margin-left: 0px;	
}
@media screen and (min-width: 580px){
	.LabeledLinks {
		border: 4px dotted rgba(111,180,177,0.7);
		padding: 10px 10px 8px 7px;
	}
}
.LabeledLinks-title {
	font-size: 18px;
	font-weight: 600;
	padding: 0px 5px 10px 100px;
	vertical-align: top;

}
.LabeledLinks-date {
	background: white;
	position: absolute;
	top: 8px;
	left: -2px;
	padding: 5px;
	color: white;
	background: #6FB4B1;

}
@media screen and (min-width: 580px){
	.LabeledLinks-date {
		left: -4px;
	}
}

.LabeledLinks-item, .LabeledLinks-item:visited {
	
	text-decoration: none;
	display: inline-block;
	margin: 4px;
	border-radius: 2px;
	padding: 10px;
	background: white;
	color: rgb(111,180,177);
	transition: background .3s;
}
.LabeledLinks-item:hover {
	color: rgb(91,160,157);
	background: rgba(111,180,177,0.2);
	transition: background .3s;
}
.LabeledLinks-label {
	margin: 6px;
}
