.Category {
  margin: 5px;
}
@media screen and (min-width: 600px){
  .Category {
      display: flex;
  }

}

.Category-discussion {
  z-index: 500;
  background: white;
  position: absolute;
  text-align: center;

  -moz-transition: right 1s ease-out;
  -ms-transition: right 1s ease-out;
  -webkit-transition: right 1s ease-out;
  transition: right 1s ease-out;
 
  /* [transition-property] [transition-duration] [transition-timing-function] [transition-delay] */

  overflow: scroll;
  height: 100%;
  width: 0px;
  top:0px;
  right: -100%;
  background: rgb(247,247,247);
}
.Category-discussion.is-show{
  top: 0px;
  min-height: calc(100vh + 100px);
  height: auto;
  right: 0px;
  width: 100%;
  -webkit-transition: right .2s ease-in-out;
  transition: right .2s ease-in-out;
  padding: 70px 0 50px 0;
  
}
@media screen and (min-width: 600px){
  .Category-discussion{
      z-index: 0;
  
  }
  .Category-discussion.is-show{
      z-index: 0;
      padding: 70px 20px;
      min-height: 0;
      flex: 1;
      position: relative;
      height: 100vh;
      box-shadow: -2px 1px 4px 0 rgba(0,0,0,0.14),2px 1px 4px 0 rgba(0,0,0,0.14)

  }
}
.Category-discussionNavClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding-top: 13px;
  height: 50px;
  width: 50px;
  background: rgb(252,84,39);
}
.Category-loadingImg {
  
}

.Category-discussionNav {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: #3F9F9B;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.Category-discussionNavToggle {
  position: absolute;
  cursor: pointer;
  top: 5px;
  padding-top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
  color: white;
}
.Category-discussionNavToggle:hover {
  background: rgba(0,0,0,.1);
  border-radius: 50%;
}
.Category-categoryList {
  text-align: left;
  padding: 5px 0px;
  position: relative;
  line-height: 1.6;
  height: auto;
}
.Category-categoryList.is-hidden {
  display: none;  

}
@media screen and (min-width: 600px){
  .Category-categoryList {
      margin: 0 auto;
      -moz-transition: width 5s ease-in-out;
      -ms-transition: width 5s ease-in-out;
      -webkit-transition: width 5s ease-in-out;
      transition: width 5s ease-in-out;
  }
  .Category-categoryList.is-hidden {
      flex: 1; 
      display: block;
      height: 100vh;
      overflow-x: auto;
      overflow-y: scroll;
      padding-right: 20px;
      
     
  }
}
.Category-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;

}
.Category-breadcrumbs {
  font-size: 16px;
  color: rgb(140,140,140);
  font-weight: 700;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 5px;

}
.Category-breadcrumbsLink, .Category-breadcrumbsLink:visited {
  color: rgb(140,140,140);
  cursor: pointer;
}
.Category-breadcrumbsLink:hover {
  color: rgb(63,159,155);
}
.Category-title{
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  height: auto;
  padding-right: 26px;
  border-bottom: 1px solid rgb(220,220,220);

}

.Category-navigation {
  width: 48%;
  text-align: center;
  height: 50px;
  padding: 10px;
  font-size: 40px;
  color: rgb(100,100,255);
  cursor: pointer;
  margin-bottom: 100px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}
.Category-navigation:hover {
  color: rgb(53,55,128);
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.Category-navigationPre {
  left: 0;
  float: left;
}
.Category-navigationNext {
  right: 0;
  float: right;
}
@media screen and (min-width: 1200px){
  .Category-navigation {
    position: fixed;
    top: 0vh;
    padding-top: 40vh;
    width: 100px;
    height: 100%;
    background: #eee;
  }
}

.Issue-titleIcon {
  margin: 0 5px;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* 以下待整理
/* ------------------------------------------------------------ */
a {
  text-decoration: none;
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
  .mobile-only {
      display: block !important;
  }
}
.mobile-only {
  display: none;
}
.page_wrapper {
  height: 100%;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;

}
#content {
	margin-top: 50px;
  padding-top: 10px;
  height: 100vh;
  overflow: scroll;
}
.sidebar-show + div + #content--cover {
  margin-left: 255px;
  will-change: margin-left;
}
#content--cover {
  will-change: margin-left;
  margin-top: 50px;
  min-height: 600px;
}
#content--proposal {
  width: 100%;
  overflow: scroll;
}
#content--proposal.limit {
  height: 100vh;
  overflow: hidden;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(220,220,220);
}
.highlight {
  font-weight: bold;
  text-decoration: underline;
}
.l_center {
  text-align: center;
}
@media screen and (max-width: 400px){
  ul{
    padding-left: 20px;
  }
  ol {
    padding-left: 22px;
  }
  li {
    margin-bottom: 6px;
    line-height: 1.4;
  }

}



/* ------------------------------------------------------------ */
/* List Item
/* ------------------------------------------------------------ */


.q_item {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .2s;

  padding: 10px;
  width: 100%;
  position: relative;
  background: white;
}


.q_content_reply {
  margin-bottom: 50vh;
}



/* ------------------------------------------------------------ */
/* Button
/* ------------------------------------------------------------ */
a.cancel {
  display: inline-block;
  min-width: 70px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
  color: rgb(63,159,155);
  cursor: pointer;
}
a.button {
  font-weight: 700;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: rgb(63,159,155);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}
a.button--square {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  text-align: center;

}
a.button.unsign {
  /* background: #db4437; */
  min-width: 83px;
}
a.button.facebook{
  background: #0277BD;
}
a.button--square.inactive, a.button--wide.inactive{
  color: rgb(53,55,54);
  background: transparent;
  color: white;

}
a.button.goodrating{
  background: #8BC34A;
}
a.button--wide {
  border: 1px solid white;
  background: white;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  color: rgb(53,55,54);
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-right: 6px;


}


#focus-discussion{
  z-index: 500;
  background: white;
  position: absolute;
  text-align: center;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .2s;

  /* [transition-property] [transition-duration] [transition-timing-function] [transition-delay] */

  overflow: scroll;
  height: 100%;
  width: 0px;
  top:0px;
  right: -100%;
  background: rgb(247,247,247);

}

#focus-discussion.show{
  top: 0px;
  height: auto;
  right: 0px;
  width: 100%;

  -webkit-transition: right .2s ease-in-out;
  transition: right .2s ease-in-out;

}

.q_content_nav {
  width: 100%;
  height: 50px;
  background: rgb(63,159,155);
  color: white;
  z-index: 400;
}
.q_content_nav.show {
  position: fixed;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .2s;
}
.q_content_nav_remove {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 5px;
  padding-top: 8px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  width:40px;
  height:40px;
  text-align: center;
}
.q_content_nav_remove:hover {
  background: rgba(0,0,0,0.1);
  border-radius: 50%;

}
.nav_item_left_icon {
  display: inline-block;
  margin: 0px 5px;
}
a.nav_item_sidebar {
  display: block;
  padding: 10px;
  color: #3F51B5;
  text-align: left;
  cursor: pointer;
}
a.nav_item_sidebar--right {
  border-bottom: 1px solid rgb(240,240,240);
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
a.nav_item_sidebar--inner {
  color: rgb(53,55,54);
}

a.nav_item_sidebar--left {
  display: block;
  padding: 12px;
  height: 50px;
  color: rgb(247,247,247);
  background-color: #255;

  font-size: 18px;
  font-weight: 700;

  border-bottom: 1px solid rgb(100,100,100);
  text-align: left;
  cursor: pointer;
}
a.nav_item_sidebar--bold {
  display: block;
  padding: 12px;
  height: 50px;
  font-size: 18px;
  color: rgb(53,55,54);
  background: rgb(220,220,220);
  /* border-left: 5px solid rgb(53,55,54); */
  text-align: left;
  cursor: pointer;
  font-weight: 700;


}
a.nav_item_sidebar--half {
  display: inline-block;
  width: 48%;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

}

a.nav_item_sidebar--sub {

  display: block;
  padding: 12px;
  min-height: 50px;

  color: rgb(247,247,247);

  background: rgb(53,55,54);

  border-bottom: 1px solid rgb(100,100,100);
  text-align: left;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
}
a.nav_item_sidebar--sub:hover {
  background: #666;
}
.nav_item_sidebar--switchmenu {
  width: 50px;
  padding: 14px;
  height: 50px;
  text-align: center;
  display: block;
  color: rgb(220,220,220);
  /* background: rgb(220,220,220); */

  position: absolute;
  right: 0px;
  top: 0px;
}

/* Required for Triangle */
.tri-up:before, .tri-up:after {
  content: "";
  position: absolute;
  right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  z-index: 420;
}
/* Stroke */
.tri-up:before {
  top: 43px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  }
/* Fill */
.tri-up:after {
  top: 42px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
#site_logo {
  padding: 5px;
  height: 50px;
  cursor: pointer;
}
#site_logo_img {
  width: 40px;
}
#site_logo_text {
  vertical-align: top;
  padding: 8px 2px 8px 5px;
  font-weight: 800;
  font-size: 20px;
  color: rgb(53,55,54);
}
#site_logo_text, .logo {
  font-family: 'Gentium Basic', 'Gentium', serif;
  display: inline-block;
}
#site_logo_text::first-letter, .logo::first-letter {
  margin-right: 1px;
}
.nav_left_toggle {
  position: absolute;
  cursor: pointer;
  top: 5px;
  padding-top: 10px;
  left: 5px;
  z-index: 10;
  width:40px;
  height:40px;
}
.nav_left_toggle:hover {
  background: rgba(0,0,0,0.1);
  border-radius: 50%;

}
.nav_list_book {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 60px;
  z-index: 10;

}

.nav_list_function {
  position: absolute;
  top: 0px;
  right: 10px;

}
.nav_list_function_item {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  width: 130px;
}
.nav_list_function_item_user {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;

}

.nav_list_function_item_hide {
  opacity: 0;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.nav_list_function_item_inner {
  background: white;
  cursor: pointer;
  padding: 5px 10px 3px 5px;
  color: black;
  border-left: 5px solid white;
}
.nav_list_function_item_text {
  margin-top: 15px;
  vertical-align: top;
  display: inline-block;

}
.nav_list_function_item_tooltip {
  height: 40px;
  color: black;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 100%;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
}
.nav_list_toolbar {
  background: white;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
  overflow: hidden;
  z-index: 430;

}
.nav_list_toolbar_hide {
  height: 0px;
}
.nav_list_function_item_inner:hover{
  border-left: 5px solid gray;
}
.nav_right_toggle {
  position: absolute;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  top: 5px;
  right: 5px;
  padding-top: 10px;
  width:40px;
  height:40px;
  z-index: 10;
  display: none; /* for now */
}
.nav_right_toggle:hover {
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
}


/* ------------------------------------------------------------ */
/* cover
/* ------------------------------------------------------------ */
.cover {
  color: white;
  position: relative;
  background: #eee;
}
.cover_title_wrap {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
  bottom: auto;
  font-size: 26px;
  font-weight: 900;
}
.cover_title {
  display: inline-block;
  background: rgba(0,0,0,0.25);
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
  padding-left: 20px;
  color: white;

}
.cover_img_wrap {
  display: inline-block;
  width: 100%;
  height: 300px;
  overflow: hidden;
  outline: 1px solid #888;
  text-align: center;
}
.cover_img {
  width: 100%;
  min-width: 700px;
  height: 300px;
  margin-left: -50%;
  margin-right: -50%;
}
.cover_botton_wrap {
  font-size: 16px;
}
.cover_botton {
  display: inline-block;
  border: 1px solid rgb(247,247,247);
  padding: 4px 12px;
  margin: 2px;
  margin-top: 6px;
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,0.5);

  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}
.cover_botton:hover {
  background: rgba(255,255,255,1);
  color: rgb(53,55,54);

  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);transition-property: all;

}

/* ------------------------------------------------------------ */
/* about
/* ------------------------------------------------------------ */
.about_paper {
  min-height: 500px;
  background: white;

}

.about_item {
  background: white;
  padding: 10px;
  margin: 5px;

}
.about_item_title {
  font-size: 22px;
  font-weight: 800;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 5px;
}
.about_item_button {
  font-size: 22px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  background: rgb(53,55,54);
  color: white;
  padding: 10px;
  margin: 5px;


}
@media screen and (min-width: 400px){
  .about_item_button {
      display: inline-block;
      width: 150px;
  }
}
.Stage {
  margin: 20px 0px;
}
.Stage-index {
  font-size: 20px;
  color: rgb(63,159,155);
  font-weight: 900;
  text-align: center;
}
.Stage-content {
  overflow: visible;
  zoom: 1;
  padding-left: 5px;
}
.Stage-index-number {
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
  background: rgb(63,159,155);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
}

/* ------------------------------------------------------------ */
/* topic 主題
/* ------------------------------------------------------------ */
.topic_page {
  padding: 10px;
  background: white;
  margin-bottom: 4px;
  margin-top: 5px;
}
.topic_item {
  cursor: pointer;
}
/* ------------------------------------------------------------ */
/* issue 話題
/* ------------------------------------------------------------ */
.issue_item {
  margin-bottom: 4px;
  background: white;
  padding: 5px 10px;
  position: relative;
  border: 1px solid rgb(220,220,220);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

}
@media screen and (min-width: 600px){
  .issue_item {
      box-shadow: none;
  }

}
.issue_item:hover {
  background: #eee;
  cursor: pointer;
}
.issue_item_title {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
  padding-top: 10px;
  margin: 0;
}

.issue_item_discuss {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  display: inline;
}
@media screen and (max-width: 400px){
  .issue_item_title {
    font-size: 20px;
  }
}
.l_center .about_item_button:hover {
    color: #ccc;
}
@media screen and (max-width: 400px){
  .l_center .about_item_button {
    width: 95%;
    display: block;
  }
}


.issue_item_discuss_count {
  padding: 2px;
  font-size: 18px;
  font-family: Helvetica,Arial,sans-serif;

}

.order_control {
  position: absolute;
  top: 13px;
  right: 50px;
  z-index: 200;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}
.focusDiscussion_title {
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0px;
}
@media screen and (max-width: 400px) {
  .focusDiscussion_title {
    font-size: 20px;
  }
}

/* question bottom "more" function */
.more_botton_wrapper {
  text-align: center;
  margin: 20px auto;
}
.more_botton_wrapper a.button {
  width: 100px;
}
a.more {
  color: #424242;
  background: white;
}

.about_item_content a:hover, .topic_item:hover {
  cursor: pointer;
  background: #eee;
}
.about_item_content li {
    line-height: 175%;
}
.prompt {
    font-weight: 500;
}
.tutorial img, .about_item_content img {
    max-width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #999;
    border-radius: 5px;
}
.about_item_content img {
    max-height: 600px;
}
.nav_item_sidebar--sub .Proposal-proposerImg {
  background: white;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -20px;
  margin-bottom: -10px;
  margin-left: -10px;
  border: 3px solid white;
  padding: 0;
}
.nav_item_sidebar--sub .title_cht {
  overflow: hidden;
  max-width: 170px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content--cover .rn-carousel-control-prev {
  top: 0;
  left: 0;
  bottom: 0;
  width: 48px;
  padding-top: 120px;
  padding-left: 12px;
}
#content--cover .rn-carousel-control-next {
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  padding-top: 120px;
  padding-right: 12px;
  text-align: right;
}
