.ProposalList-sectionIntro {
  display: block;
  width: 100%;
}
.ProposalList-sectionIntro li {
  line-height: 1.6;
}
.ProposalList-item, .ProposalList-item:visited {
	color: rgb(53,55,54);
	text-decoration: none;
	padding: 20px;
  margin: 10px;
	display: flex;
  flex-direction: column;
	text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  background: #fff;
}
.ProposalList-item:hover {
  color: #3F9F9B;
}
.ProposalList {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding-top: 20px;
}
.ProposalList-title {
  display: block;
  width: 100%;
	color: rgb(53,55,54);
  margin: 10px;
  line-height: 1.8em;
  border-bottom: 1px solid #DCDCDC;
}
.ProposalList-stage-image {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.ProposalList-item-outer {
}
.ProposalList-item-inner {
  width: 100%;
  padding-bottom: 75%;
  display: block;
  background: black;
  position: relative;
}
.ProposalList-item-innermost {
  position: absolute;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
}
.ProposalList-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.ProposalList-item-info {
  height: 40px;
  padding: 12px 0px;
  font-size: 16px;
  flex-grow: 0;
  text-align: left;
}
.ProposalList-item-title {
  padding-right: 8px;
}
.ProposalList-item-proposer {
  font-size: 12px;
  color: #646464;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1000px){
  .ProposalList-item {
    width: 31%;
  }
}
@media screen and (max-width: 999px){
  .ProposalList-item {
    width: 45%;
  }
}
@media screen and (max-width: 449px){
  .ProposalList-item {
    width: 100%;
  }
}
