.ProgressBar {

}


.ProgressBar-barBackground {
    margin: 12px 0px 24px 0px;
    position: relative;
    background: rgb(230,230,230);
}
.ProgressBar-barProgress {
    background: rgb(63,159,155);
    height: 8px;
}

.ProgressBar-startDate {
  position: absolute;
  bottom: -24px;
  font-size: 14px;
  left: 23px;
  font-weight: 700;
  display: inline-block;
  font-family: Lucida Console, Monaco, monospace;
}
.ProgressBar-endDate {
  display: inline-block;
  position: absolute;
  bottom: -24px;
  font-size: 14px;
  right: 20px;
  font-weight: 700;
  display: inline-block;
  font-family: Lucida Console, Monaco, monospace;
}