.App {
	background: white;
}
.App-content {
  margin-top: 30px;
  padding-top: 10px;
  background: #fff;

}
.App-content.activeNavBar {
  position: fixed;
  z-index: 0;
}
.App-intro {
  padding: 20px;
  padding-top: 120px;
  line-height: 1.6;
}

@media screen and (min-width: 680px){
  .App-intro {
      width: 680px;
      margin: 0 auto;
      line-height: 1.6;
  }
}

.App-wrapper {
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 600px){
  .App-content.activeNavBar {
      position: relative;
      margin-left: 255px;
      will-change: margin-left;
  }
}
@media screen and (min-width: 1200px){
  .App-content {
      margin-top: 30px;
      padding-top: 10px;
      background: #fff;
      padding-left: 120px;
      padding-right: 120px;
  }
  .App-content.activeNavBar {
      position: relative;
      z-index: 1;
      /*
      margin-left: 0;
      -webkit-transform: translate3d(250px,0,0);
      -moz-transform: translate3d(250px,0,0);
      -ms-transform: translate3d(250px,0,0);
      transform: translate3d(250px,0,0);*/

      /*width: calc(100% - 250px);*/
      padding-left: 60px;
      padding-right: 60px;

  }
}

