.App {
	background: white;
	min-height: 100vh;
}
.App-content {
  margin-top: 50px;
  padding-top: 10px;
  background: #fff;

}
.App-content.activeNavBar {
  margin-left: 255px;
  will-change: margin-left;
}
.App-wrapper {
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 1000px){
  .App-wrapper {
    width: 1000px;

  }
}
