@media screen and (min-width: 600px) {
  .NavBar {
    width: 250px;
  }
}

.NavBar {
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  background: hsl(150, 2%, 21%);
  overflow: scroll;
  z-index: 30;
  position: fixed;
  text-align: center;
  padding-right: 0;
  left: 0;
  top: 50px;
  height: calc(100% - 50px);
}

.NavBar-item {
  display: block;
  padding: 12px;
  height: 50px;
  color: hsl(0, 0%, 97%);
  background-color: hsl(180, 43%, 23%);
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid hsl(0, 0%, 39%);
  text-align: left;
  cursor: pointer;
}
.NavBar-item--title {
  display: block;
  padding: 12px;
  height: 50px;
  font-size: 18px;
  color: hsl(150, 2%, 21%);
  background: hsl(0, 0%, 86%);
  text-align: left;
  cursor: pointer;
  font-weight: 700;
}
.NavBar-backIcon {
  display: inline-block;
  width: 24px;
  padding-right: 2px;
  text-align: center;
}
.NavBar-subItem {
  display: block;
  padding: 12px 12px 12px 20px;
  min-height: 50px;
  color: hsl(0, 0%, 97%);
  background: hsl(150, 2%, 21%);
  border-bottom: 1px solid hsl(0, 0%, 39%);
  text-align: left;
  cursor: pointer;
  position: relative;
}
.NavBar-subItemIcon {
  background: hsl(0, 100%, 100%);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  margin: -5px 10px -10px -10px;
  vertical-align: middle;
  border: 3px solid hsl(0, 100%, 100%);
  padding: 0;
}
