.NavBar {
  width: 100%;
}
.NavBar-shadowLayer {
  width: 0;
  height: 100vh;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  will-change: background;
}
.NavBar-shadowLayer.is-show {
  width: 100%;
  background: rgba(255,255,255,0.8);
  transition: background .1s ease-in-out;

}
.NavBar-main {
  left: -100%;
  overflow: hidden;

  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  background: hsl(150, 2%, 21%);
  overflow: scroll;
  z-index: 30;
  position: fixed;
  text-align: center;
  padding-right: 0;

  top: 50px;
  width: calc(100% - 80px);
  height: calc(100% - 50px);
  will-change: left;

}
.NavBar-main.is-show {
  left: 0;

  transition: left .1s ease-in-out;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);

}

@media screen and (min-width: 600px) {
  .NavBar {
    width: auto;
  }
  .NavBar-main {
    width: 250px;
  }
  .NavBar-shadowLayer.is-show {
    display: none;
  }
}

.NavBar-item {
  display: block;
  padding: 12px;
  height: 50px;
  color: hsl(0, 0%, 97%);
  background-color: hsl(180, 43%, 23%);
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid hsl(0, 0%, 39%);
  text-align: left;
  cursor: pointer;
}
.NavBar-item:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 43%, 21%);
}
.NavBar-item.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 43%, 17%);
}
.NavBar-item--title {
  display: block;
  padding: 12px;
  height: 50px;
  font-size: 18px;
  color: hsl(150, 2%, 21%);
  background: hsl(0, 0%, 86%);
  text-align: left;
  cursor: pointer;
  font-weight: 700;
}
.NavBar-item--title:hover {
  color: hsl(150, 2%, 9%);
  background: hsl(0, 0%, 77%);
}
.NavBar-item--title.active {
  color: hsl(150, 2%, 10%);
  background: hsl(0, 0%, 65%);
}
.NavBar-backIcon {
  display: inline-block;
  width: 24px;
  padding-right: 2px;
  text-align: center;
}
.NavBar-subItem {
  display: block;
  padding: 12px 12px 12px 20px;
  min-height: 50px;
  color: hsl(0, 0%, 97%);
  background: hsl(150, 2%, 21%);
  border-bottom: 1px solid hsl(0, 0%, 39%);
  text-align: left;
  cursor: pointer;
  position: relative;
}
.NavBar-subItem:hover {
  background: hsl(150, 2%, 15%);
}
.NavBar-subItem.active {
  background: hsl(150, 2%, 7%);
}
.NavBar-subItemIcon {
  background: hsl(0, 100%, 100%);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  margin: -5px 10px -10px -10px;
  vertical-align: middle;
  border: 3px solid hsl(0, 100%, 100%);
  padding: 0;
}
