.AppBar {
	width: 100%;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	position: fixed;
	top: 0;
	z-index: 100;
	background: white;
}
.AppBar-siteLogo {
	padding: 5px;
    height: 50px;
    cursor: pointer;
}
.AppBar-siteLogoImg {
	width: 40px;
	height: 40px;
}
.AppBar-siteLogoText {
	font-family: 'Gentium Basic', Gentium, serif;
  	display: inline-block;
  	vertical-align: top;
    padding: 8px 2px 8px 5px;
    font-weight: 800;
    font-size: 20px;
    color: #353736;
}