.Proposal {
	padding-top: 20px;
}
.Proposal-intro {
	background: white;
	padding: 10px;
	margin: 5px;
	text-align: center;	
}
.Proposal-title {
    font-weight: 800;
    font-size: 24px;
}
.Proposal-proposer {
    font-size: 12px;
    color: #646464;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 4px;
    display: block;
}
.Proposal-slides {
	margin: 0 auto;
	text-align: center;
}
.Proposal-iframe {
	border:1px solid #CCC; 
	border-width:1px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	width: 425px;
	height: 355px;
}
.Proposal-stages {
	border-left: 1px solid rgb(153,155,154);
	margin-left: 20px;
}
.Proposal-stage {
	position: relative;
	padding-top: 34px;
	margin-top: 30px;
}
.Proposal-stageDate {
	position: absolute;
	top: 0;
	left: 0px;
	padding: 5px;
	color: white;
	background: #6FB4B1;
}
